main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set height to 100% of the viewport height */
}

::deep .content {
    padding: 1.1rem 2rem 0 2rem;
    overflow-y: auto; /* The content area is the ONLY thing that scrolls */
    flex: 1; /* Makes the content area fill the remaining space */
    height: 100%; /* Fixes some overflow calculation issues */
}
