@inherits LayoutComponentBase
@using LE_Digital_2_Blazor_Server_WebApp.Server.Shared

@* The .page div is no longer needed here *@
<main>
    @* This adds your new top-nav header *@
    <Header />

    @* This is where your page content will render *@
    <article class="content px-4">
        @Body
    </article>
</main>