<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
            <AuthorizeView Roles="Director, Master">
                <Authorized>
                    <DxTreeViewNode Text="Director Dashboard" NavigateUrl="director/dashboard" IconCssClass="oi oi-briefcase"></DxTreeViewNode>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Manager, Master, Director">
                @* Allow Directors to see this too *@
                <Authorized>
                    <DxTreeViewNode Text="Manager Dashboard" NavigateUrl="/manager/dashboard" IconCssClass="oi oi-person"></DxTreeViewNode>
                </Authorized>
            </AuthorizeView>
    </Nodes>
</DxTreeView>
</div>

@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }
}