<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
            <DxTreeViewNode Text="Home" NavigateUrl="controller/manage-versions" IconCssClass="oi oi-home"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }
}